@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
    height: 100%
}


body {
    font-family: 'Playfair Display', sans-serif;
}

.hover-opacity {
  transition: opacity 0.3s;
}

.hover-opacity:hover {
  opacity: 0.7;
}
  
.homepage-1 {
  background-image: url('/clothingrack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-2 {
  background-image: url('/beightl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-3 {
  background-image: url('./src/assets/images/homepage3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar {
  opacity: 0.85;
  transition: 0.3s
}

.icon-size {
  width: 4rem;
  height: 4rem;
}

.text-shadow {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1)
}

  